server:
  port: 8081

spring:
  application:
    name: product-service

  management:
    endpoints:
      web:
        exposure:
          include: health, info, env
    endpoint:
      health:
        show-details: always

  datasource:
    url: jdbc:postgresql://localhost:5433/product_db
    username: user
    password: password

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8080/realms/ecom-realm
          jwk-set-uri: http://localhost:8080/realms/ecom-realm/protocol/openid-connect/certs

eureka:
  instance:
    # Correctif : Force l'enregistrement par IP
    prefer-ip-address: true
    instance-id: ${spring.application.name}:${spring.cloud.client.ip-address}:${server.port}
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

logging:
  level:
    org.springframework.security: DEBUG
    ma.enset: DEBUG